<ion-item (click)="showUser()">
  <div *ngIf="!user.img">
  <ion-avatar slot="start"  *ngIf="!user.employee&&!user.admin">
    <img src="assets/avatars/av-1.png">
  </ion-avatar>
  <ion-avatar slot="start"  *ngIf="user.employee&&!user.admin">
    <img src="assets/avatars/av-6.png">
  </ion-avatar>
  <ion-avatar slot="start"  *ngIf="user.admin">
    <img src="assets/avatars/av-4.png">
  </ion-avatar>
  </div>
  <div>
    <ion-avatar slot="start"  *ngIf="user.img">
      <img [src]="user.img">
    </ion-avatar>
  </div>
  <div style="padding-left: 30px;">
    <ion-text>
      <h5>{{user.name}}</h5>
      <p style="font-size: small;">{{user.mail}}</p><br>
        <ion-chip *ngIf="user.admin" color="danger" mode="ios" >
          <ion-label>Administrador</ion-label>
        </ion-chip>
        <ion-chip *ngIf="user.employee&&!user.admin" color="warning" mode="ios" >
          <ion-label *ngIf="user.employee&&!user.admin">Empleado</ion-label>
        </ion-chip>
        <ion-chip *ngIf="!user.employee&&!user.admin" color="tertiary" mode="ios" >
          <ion-label>Cliente</ion-label>
        </ion-chip>
    </ion-text>
  </div>
</ion-item>