<ion-card mode='md'>
  <ion-slides mode="ios" pager="ios" scrollbar="ios" *ngIf="product.imgs.length>1">
    <ion-slide *ngFor="let img of product.imgs" class="image-slide" [style]="img |image: product.user | domSanitazer">
    </ion-slide>
  </ion-slides>
  <ion-slides mode="ios" [options]="slideSoloOpt" *ngIf="product.imgs.length===1">
    <ion-slide class="image-slide" [style]="product.imgs[0] |image: product.user | domSanitazer">
    </ion-slide>
  </ion-slides>
  <ion-slides mode="ios" [options]="slideSoloOpt" *ngIf="product.imgs.length===0">
    <ion-slide class="image-slide" [style]="'assets/sandwitch-default.jpg' | domSanitazer">
    </ion-slide>
  </ion-slides>
  <ion-item lines="none">
    <ion-text>
      <p>{{product.name}}</p>
    </ion-text>
  </ion-item>
  <ion-item lines="none">
    <ion-chip color="primary" mode="ios">
      <ion-label>{{product.price | currency:'EUR'}}</ion-label>
    </ion-chip>
  </ion-item>
  <ion-item class="ion-text-center">
    <ion-button fill="solid" size="small" shape="round" (click)="addProductToCart()" slot="end" [disabled]="disabled">
      <ion-icon slot="icon-only" name="add"></ion-icon>
      <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
    </ion-button>
  </ion-item>
  <ion-buttons slot="end">

  </ion-buttons>

</ion-card>