<ion-card mode='md' >
  <ion-card-header>
    <!-- <img [src]="productOrder.product.imgs[0] | image" *ngIf="productOrder.product.imgs.length>0">
    <img src="assets/sandwitch-default.jpg" *ngIf="productOrder.product.imgs.length===0"> -->
    <ion-card-title>{{productOrder.product.name}}</ion-card-title>

    <label>Cantidad : {{productOrder.amount}}</label>

    <ion-card-subtitle>{{productOrder.product.price * productOrder.amount | currency:'EUR'}}</ion-card-subtitle>
  </ion-card-header>
  <ion-button fill="solid" size="small" shape="round" expand="block" (click)="deleteProductToCart(productOrder.product)"
    color="danger">
    <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
  </ion-button>
</ion-card>