

<ion-list>
  <ion-radio-group [value]="range" >
  <ion-item lines="none">
    <ion-label>Administrador</ion-label>
    <ion-radio slot="start" value="admin" (ionFocus)="radioChange('admin')"></ion-radio>
  </ion-item>
  <ion-item lines="none" >
    <ion-label>Empleado</ion-label>
    <ion-radio slot="start" value="employee" (ionFocus)="radioChange('employee')"></ion-radio>
  </ion-item>
  <ion-item lines="none" >
    <ion-label>Cliente</ion-label>
    <ion-radio slot="start" value="client" (ionFocus)="radioChange('client')"></ion-radio>
  </ion-item>
</ion-radio-group>
</ion-list>