<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <div *ngFor="let productOrder of cartService.cartProducts">
      <app-item-product-order [productOrder]="productOrder"></app-item-product-order>
    </div>
  </ion-list>
<ion-fab vertical="bottom" horizontal="end" slot="fixed" class="ion-padding">
  <ion-fab-button (click)="sendOrder()">
    <ion-icon name="send"></ion-icon>
  </ion-fab-button>
</ion-fab>
</ion-content>
<ion-footer>
  <ion-toolbar color="primary">
    <ion-title>Total: {{cartService.price| currency:'EUR'}}</ion-title>
  </ion-toolbar>
</ion-footer>
