<ion-item-sliding>
  <ion-item (click)="editProduct(product)" >
    <ion-avatar>
      <img [src]="product.imgs[0] | image:product.user" *ngIf="product.imgs.length>0">
      <img src="assets/sandwitch-default.jpg" *ngIf="product.imgs.length===0">
    </ion-avatar>
    <ion-text class="ion-padding">
      <h5>{{product.name}}</h5>
      <p>Precio: {{product.price| currency:'EUR'}}</p>
    </ion-text>
    <ion-buttons slot="end">
      <ion-toggle color="success" mode="ios" (click)="changeStatusProduct(product)" [(ngModel)]="product.available"></ion-toggle>
    </ion-buttons>
  </ion-item>

  <ion-item-options >
    <ion-item-option color="light" (click)="deleteProduct(product)">
      <ion-icon slot="icon-only"  color="danger" name="trash"></ion-icon>
    </ion-item-option>
  </ion-item-options>

</ion-item-sliding>
