<app-navbar title="Configuracion de Productos"></app-navbar>

<ion-content>

  <!-- Refresh -->
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)" pullFactor="0.8" pullMin="60" pullMax="120">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <app-item-product-editable *ngFor="let product of products" [product]="product"></app-item-product-editable>
  </ion-list>
  
<ion-fab vertical="bottom" horizontal="center" slot="fixed">
  <ion-fab-button (click)="newProduct()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
<ion-infinite-scroll [disabled]="!infineScrollEnable" threshold="25%" position="bottom" (ionInfinite)="nexts($event)">
  <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando productos...">
  </ion-infinite-scroll-content>
</ion-infinite-scroll>
</ion-content>