<app-navbar title="Productos"></app-navbar>
<ion-toolbar style=" position: -webkit-sticky;top: 0">
  <ion-searchbar mode="ios" placeholder="Buscar Producto" animated inputmode="search" type="seacth" [value]="term"
    (ionChange)="onSearchChange($event)" [debounce]="700"></ion-searchbar>
</ion-toolbar>
<ion-content>
  <!-- Refresh -->
  <ion-refresher slot="fixed" (ionRefresh)="nexts($event,true)" pullFactor="0.8" pullMin="60" pullMax="120">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- Loading animation -->
  <ion-grid *ngIf="loading">
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-spinner name="crescent"></ion-spinner>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- products -->
  <ion-grid >
    <ion-row *ngIf="term===undefined">
      <ion-col   size=11 size-lg="3" size-md="4" size-sm="6" size-xs="6" *ngFor="let product of products">
        <app-card-product-available *ngIf="term===undefined" [product]="product"></app-card-product-available>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="term!==undefined">
      <ion-col size="6" size-lg="3" size-md="4" size-sm="6" size-xs="6" *ngFor="let product of productsFound">
        <app-card-product-available [product]="product"></app-card-product-available>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- InfiniteScroll -->
  <ion-infinite-scroll [disabled]="!infineScrollEnable" threshold="25%" position="bottom" (ionInfinite)="nexts($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando productos...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

<!-- cart -->
<ion-footer *ngIf="productsOrders.length>0" >
  <ion-toolbar (click)="down=!down" color="tertiary">
    <ion-label>Carrito</ion-label>
    <ion-label><br>{{cartService.price| currency:'EUR'}}</ion-label>
    <ion-icon slot="start" name="cart" class="ion-padding"></ion-icon>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon *ngIf="down" slot="icon-only" name="chevron-down"></ion-icon>
        <ion-icon *ngIf="!down" slot="icon-only" name="chevron-up"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <app-slideshow-cart [productsOrder]="productsOrders" *ngIf="down"></app-slideshow-cart>
  <ion-button (click)="sendOrder()" expand="block" fill="clear" shape="round" *ngIf="down">
    Enviar pedido
  </ion-button>
</ion-footer>