<app-navbar title="Productos"></app-navbar>

<ion-content>
    <!-- Refresh -->
    <ion-refresher slot="fixed" (ionRefresh)="refresh($event)" pullFactor="0.8" pullMin="60" pullMax="120">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

  <app-slideshow-product [products]="products"></app-slideshow-product>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="6" size-lg="3" size-md="4" size-sm="6" size-xs="6" *ngFor="let product of products">
      <app-product-available [product]="product"></app-product-available>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- InfiniteScroll -->
  <ion-infinite-scroll [disabled]="!infineScrollEnable" threshold="25%" position="bottom" (ionInfinite)="nexts($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando productos...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>



<!-- cart -->
<ion-footer *ngIf="productsOrders.length>0" >
  <ion-toolbar>
    <ion-label>Carrito</ion-label>
    <ion-card-subtitle>{{cartService.price| currency:'EUR'}}</ion-card-subtitle>
    <ion-icon slot="start" name="cart" class="ion-padding"></ion-icon>
    <ion-buttons slot="end">
      <ion-button  (click)="down=!down">
        <ion-icon *ngIf="down" slot="icon-only" name="chevron-down"></ion-icon>
        <ion-icon *ngIf="!down" slot="icon-only" name="chevron-up"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <app-slideshow-cart [productsOrder]="productsOrders" *ngIf="down"></app-slideshow-cart>
  <ion-button (click)="sendOrder()" expand="block" fill="clear" shape="round" *ngIf="down">
    Enviar pedido
  </ion-button>
</ion-footer>
