<ion-app>

  <ion-split-pane contentId="principal" when="md">

    <ion-menu side="start" menuId="menuId" contentId="principal" #IonMenu>
      <ion-header class="ion-no-border" >
        <ion-toolbar >
          <div *ngIf="userService.isLoged">
            <ion-item lines="none" color="light">
              <ion-avatar slot="start">
                <img [src]="userService.user.img" *ngIf="userService.user.img"/>
                <img src="assets/avatars/av-6.png" *ngIf="!userService.user.img"/>
              </ion-avatar>
              <ion-label>
                <h3><b>{{userService.user.name}}</b></h3>
                <p>{{userService.user.mail}}</p>
              </ion-label>
            </ion-item>
          </div>
          <ion-title *ngIf="!userService.isLoged">
            iCantina</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle autoHide=false>
            <ion-item routerLink="/products" routerDirecction="root" [class.active-item]="selectedPath==='/products'"
            (click)="selectedPath='/products'">
              <ion-icon slot="start" name="fast-food"></ion-icon>
              <ion-label>Productos</ion-label>
            </ion-item>
            <ion-item routerLink="/products-management" routerDirecction="root"
              [class.active-item]="selectedPath==='/products-management'" *ngIf="userService.isEmployee"
              (click)="selectedPath='/products-management'">
              <ion-icon slot="start" name="construct"></ion-icon>
              <ion-label>Configurar Productos</ion-label>
            </ion-item>
            <ion-item routerLink="/my-orders" routerDirecction="root" [class.active-item]="selectedPath==='/my-orders'"
              *ngIf="userService.isLoged"
              (click)="selectedPath='/my-orders'">
              <ion-icon slot="start" name="receipt"></ion-icon>
              <ion-label>Mis pedidos</ion-label>
            </ion-item>

            <ion-item routerLink="/user-management" routerDirecction="root"
              [class.active-item]="selectedPath==='/user-management'" *ngIf="userService.isEmployee"
              (click)="selectedPath='/user-management'">
              <ion-icon slot="start" name="people"></ion-icon>
              <ion-label>Usuarios</ion-label>
            </ion-item>

            <ion-item routerLink="/order-management" routerDirecction="root"
              [class.active-item]="selectedPath==='/order-management'" *ngIf="userService.isEmployee"
              (click)="selectedPath='/order-management'">
              <ion-icon slot="start" name="documents"></ion-icon>
              <ion-label>Administrar pedidos</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
      <ion-footer class="ion-no-border">
        <ion-toolbar>
          <ion-avatar  style="padding: 10px;">
            <img src="assets/icon/favicon.png" />
          </ion-avatar>
          <ion-buttons slot="end">
            <ion-button  (click)="login()" *ngIf="!userService.isLoged">
              <ion-icon slot="end" name="log-in"></ion-icon>
              Ingresar
            </ion-button>
            <ion-button  (click)="logout()" *ngIf="userService.isLoged" color="danger">
              <ion-icon slot="end" name="log-out"></ion-icon>
              Cerrar sesión
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-footer>
    </ion-menu>

    <ion-router-outlet id="principal"></ion-router-outlet>

  </ion-split-pane>


</ion-app>