<app-navbar title="Administrar pedidos"></app-navbar>
<ion-content>
  <!-- Refresh -->
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)" pullFactor="0.8" pullMin="60" pullMax="120">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- Loading animation -->
  <ion-grid *ngIf="loading">
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-spinner name="crescent"></ion-spinner>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- segment button -->
  <ion-segment (ionChange)="changePage($event)" value="todo" mode="ios">
    <ion-segment-button value="todo" >
      <ion-label>Por hacer</ion-label>
      <ion-badge color="danger">{{ordersToDo.length}}</ion-badge>
    </ion-segment-button>
    <ion-segment-button value="ready">
        <ion-label>Preparados</ion-label>
        <ion-badge color="warning">{{ordersReady.length}}</ion-badge>
    </ion-segment-button>
    <ion-segment-button value="history">
      <ion-label>Historial</ion-label>
    </ion-segment-button>
  </ion-segment>

  <!-- Orders -->
  <div *ngIf="page==='history'">
    <app-grid-orders-editable *ngIf="ordersHistory.length>0" [orders]="ordersHistory"></app-grid-orders-editable>
  </div>
  <div *ngIf="page==='todo'">
    <app-grid-orders-editable *ngIf="ordersToDo.length>0" [orders]="ordersToDo"></app-grid-orders-editable>
  </div>
  <div *ngIf="page==='ready'">
    <app-grid-orders-editable *ngIf=" ordersReady.length>0" [orders]="ordersReady"></app-grid-orders-editable>
  </div>

  <!-- InfiniteScroll -->
  <ion-infinite-scroll *ngIf="page==='history'" [disabled]="!infineScrollEnable" threshold="25%" position="bottom"
    (ionInfinite)="getOrdersHistory($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando productos...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>