<ion-card mode='md'>
  <ion-card-header>
    <img [src]="product.imgs[0] | image:product.user " *ngIf="product.imgs.length>0" >
    <img src="assets/sandwitch-default.jpg" *ngIf="product.imgs.length===0">
    <ion-card-title>{{product.name}}</ion-card-title>
    <ion-card-subtitle>{{product.price | currency:'EUR'}}</ion-card-subtitle>
  </ion-card-header>
  <ion-item>
    <ion-button fill="solid" size="small" shape="round"  (click)="addProductToCart()"  slot="end">
      <ion-icon slot="icon-only" name="add"></ion-icon>
      <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
    </ion-button>
  </ion-item>
  <ion-buttons slot="end">

  </ion-buttons>

</ion-card>