<ion-card mode='md' >
  <ion-item>
    <ion-avatar slot="start">
      <img *ngIf="productOrder.product.imgs.length>0" [src]="productOrder.product.imgs[0]|image : productOrder.product.user" />
      <img *ngIf="productOrder.product.imgs.length===0" src="assets/sandwitch-default.jpg" />
    </ion-avatar>
    <ion-card-header>
      <!-- <img [src]="productOrder.product.imgs[0] | image" *ngIf="productOrder.product.imgs.length>0">
      <img src="assets/sandwitch-default.jpg" *ngIf="productOrder.product.imgs.length===0"> -->
      <ion-card-title>{{productOrder.product.name}}</ion-card-title>
      <ion-label> <br>Cantidad : {{productOrder.amount}}</ion-label>
      <ion-card-subtitle>{{productOrder.product.price * productOrder.amount | currency:'EUR'}}</ion-card-subtitle>
    </ion-card-header>
      <ion-button (click)="deleteProductToCart(productOrder.product)" color="light">
        <ion-icon slot="icon-only" name="trash" color="danger"></ion-icon>
      </ion-button>
  </ion-item>
</ion-card>