<ion-card mode="ios">
  <ion-card-subtitle class="ion-padding">ID: {{order._id}}</ion-card-subtitle>
  <div *ngIf="!order.done">
    <ion-chip color="warning" mode="ios">
      <ion-label>Pendiente</ion-label>
    </ion-chip>
  </div>
  <ion-list>
    <ion-item>
      Fecha: <span class="ion-padding">{{order.created|date:'short'}}</span>
    </ion-item>
    <app-item-products [products]="order.products"></app-item-products>
    <app-item-delivery-data *ngIf="order.done" [mail]="order.employee.mail" [deliveryDate]="order.deliverDate">
    </app-item-delivery-data>
    <ion-item lines='none' color="primary">
      <H4 class="ion-padding">Total: {{order.price | currency:'EUR'}}</H4>
    </ion-item>
  </ion-list>
</ion-card>