<ion-card>
  <ion-title class="ion-text-center ion-padding" style="color: black;">{{order._id}}</ion-title>
  <div *ngIf="!order.done">
    <ion-chip color="warning" mode="ios" >
      <ion-label>Pendiente</ion-label>
    </ion-chip>
  </div>
  <ion-item>
    Fecha: <span class="ion-padding">{{order.created|date:'short'}}</span>
  </ion-item>

  <ion-list>
    <div *ngFor="let product of order.products">
      <ion-item *ngIf="product.product">
        <ion-avatar class="product-avatar-image">
          <img [src]="product.product.imgs[0] | image:product.product.user" *ngIf="product.product.imgs.length>0">
          <img src="assets/sandwitch-default.jpg" *ngIf="product.product.imgs.length===0">
        </ion-avatar>
        <ion-text style="padding-left: 10%;">
          <h5>{{product.product.name}}</h5>
          <p>Precio Unidad: {{product.product.price| currency:'EUR'}}</p>
          <p>Cantidad: {{product.amount}}</p>
          <p>Precio: {{product.product.price*product.amount| currency:'EUR'}}</p>
        </ion-text>
      </ion-item>
      <ion-item *ngIf="!product.product">
        <ion-avatar class="product-avatar-image">
          <img src="assets/sandwitch-default.jpg">
        </ion-avatar>
        <ion-text style="padding-left: 10%;">
          <h5>Producto no disponible</h5>
          <p>Cantidad: {{product.amount}}</p>
        </ion-text>
      </ion-item>
    </div>
    <div *ngIf="order.done">
      <ion-item lines="none">
        Fecha de entrega: <span class="ion-padding">{{order.deliverDate|date:'short'}}</span>
      </ion-item>
      <ion-item>
        Empleado :
        <ion-chip color="primary" mode="ios" outline="true">
          <ion-avatar>
            <img src="assets/avatars/av-1.png" />
          </ion-avatar>
          <ion-label>{{order.employee.name}}</ion-label>
        </ion-chip>
      </ion-item>
    </div>
    <ion-item lines='none'>
      <H4 class="ion-padding">Total: {{order.price | currency:'EUR'}}</H4>
    </ion-item>

  </ion-list>


</ion-card>